@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

div.header {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 99px;
    left: 0px;
    top: 0px;
    background: #7159c1;
}

div.header h1 {
    position: absolute;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    line-height: 153px;
    position: relative;
    text-align: center;
    left: -2px;
    top: -70px;
    font-size: 58px;
    transform: rotate(-1.04deg);
}
.mainText {
    background-color: transparent;
    position: relative;
    width: 50%;
    max-width: 800px;
    height: 100%;
    margin: auto;
    top:130px;
    border: 2px solid #7159c1;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 80px;
}
h2.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: Roboto;
    font-weight: bold;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    -webkit-text-stroke: 2px#000000;
    left: -1px;
}
p.text {
    position: relative;
    width: 90%;
    max-width: 730px;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;

    -webkit-text-stroke: 1.3px#000000;

    padding-bottom: 82px;

}

.buttonIniciar {
    position: relative;
    background-color: #7159c1;
    border-color: #7159c1;
    border-radius: 10px;
  
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke: 1px#000000;

    width: 50%;
    min-width: 140px;
    height: 80px;
    margin-left: 25%;
    margin-bottom: 60px;
    transition: opacity 100ms;
}
.buttonIniciar:hover {
    opacity: 90%;
}
.mouseImg {
    opacity: 20%;
    position: absolute;
    width: 75%;
    min-width: 100px;
    max-width: 700px;
    height: 100%;
    min-height: 150px;
    max-height: 650px;
    margin-left: 5%;
    margin-top: -2%;
}
